* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#check {
    display: none;
}
#close{
    display: none;
}

.save{
    margin: 80px 0 0 80px;
}

label #btn {
    position: absolute;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    font-size: 15pt;
    padding: 6px 12px;
    transition: all 0.5s;
}

span{
    margin: 100px 80px;
}

.sidebar {
    display: none;
    z-index: 1111;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: opacity 0.5s ease, width 0.5s ease;
}

#close:checked ~ .sidebar{
    opacity: 0;
    width: 0;
    display: none;
}

#check:checked ~ .sidebar {
    opacity: 1;
    width: 450px;
    display: block;
}

.sidebar-nav{
    width: auto;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 8px;
}

.select-menu select option{
    font-size: 12pt;
}
